# Enforce consistent line endings
* text=auto

# Explicitly use LF for these text formats
*.ts     text eol=lf
*.tsx    text eol=lf
*.js     text eol=lf
*.jsx    text eol=lf
*.json   text eol=lf
*.py     text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.md     text eol=lf
Dockerfile text eol=lf
.github/** text=auto

# Binary files
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.zip    binary
*.gz     binary
